.DS_Store

H-H2_LOSC_4_V1-815235072-4096.hdf5

*/.ipynb_checkpoints/

.venv/
venv/

Mosquito-Alert-sampling_effort_data-0b57d8f
sampling_effort_data-v2025.02.25.zip
NEON_count-mosquitoes/
__pycache__
